Source: libmixlib-cli-ruby
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>, Paul van Tilburg <paulvt@debian.org>
Build-Depends: debhelper (>= 7), cdbs, ruby-pkg-tools (>= 0.14)
Build-Depends-Indep: ruby1.8, libsetup-ruby1.8
Standards-Version: 3.8.4
Homepage: http://github.com/opscode/mixlib-cli/tree/master
Vcs-Svn: svn://svn.debian.org/svn/pkg-ruby-extras/trunk/libmixlib-cli-ruby/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-ruby-extras/trunk/libmixlib-cli-ruby/

Package: libmixlib-cli-ruby
Architecture: all
Depends: libmixlib-cli-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: A Ruby mixin for creating command line applications
 Provides a class based object to parse command line options. It supports
 long and short options, descriptions, and a number of other common features.
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby mixlib-cli libraries for the default Ruby version
 (currently 1.8).

Package: libmixlib-cli-ruby1.8
Architecture: all
Depends: ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: A Ruby 1.8 mixin for creating command line applications
 Provides a class based object to parse command line options. It supports
 long and short options, descriptions, and a number of other common features.
 .
 This package contains mixlib-cli libraries for Ruby 1.8.

