Package: chef-server-webui
Version: 0.10.0-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 196
Depends: debconf (>= 0.5) | debconf-2.0, ruby1.8 | ruby-interpreter
Section: ruby
Priority: optional
Homepage: http://wiki.opscode.com/display/chef
Description: A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
 A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
Ruby-Versions: ruby1.8 ruby1.9.1
