Source: chef-server-api
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Bryan McLellan <btm@loftninjas.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.2)
Standards-Version: 3.9.2
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/chef-server-api.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/chef-server-api.git;a=summary
Homepage: http://wiki.opscode.com/display/chef
XS-Ruby-Versions: all

Package: chef-server-api
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter,  merb-core, libmerb-haml-ruby, libmerb-assets-ruby, libmerb-param-protection-ruby, libmerb-helpers-ruby, libmixlib-authentication-ruby (>= 1.1.3), rabbitmq-server (>= 1.6), couchdb (>= 0.9.1), thin, libjson-ruby (>= 1.4.6), chef (>= ${source:Upstream-Version}), chef-solr (>= ${source:Upstream-Version}), adduser, ucf, libdep-selector-ruby, libtreetop-ruby, libuuidtools-ruby
Description: A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
 A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
