Source: libmixlib-authentication-ruby
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7), cdbs, ruby-pkg-tools (>= 0.14)
Build-Depends-Indep: ruby1.8, libsetup-ruby1.8
Standards-Version: 3.8.3
Homepage: http://github.com/opscode/mixlib-authentication/tree/master

Package: libmixlib-authentication-ruby
Architecture: all
Depends: libmixlib-authentication-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: Ruby mixin for client/server header signing authentication and verification
 Provides a class based object to do header signing authentication.
 A multiline hash for authorization will be encoded in multiple
 header lines.
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby mixlib-authentication libraries for the default Ruby version
 (currently 1.8).

Package: libmixlib-authentication-ruby1.8
Architecture: all
Depends: ruby1.8, libmixlib-log-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: Ruby mixin for client/server header signing authentication and verification
 Provides a class based object to do header signing authentication.
 A multiline hash for authorization will be encoded in multiple
 header lines.
 .
 This package contains mixlib-authentication libraries for Ruby 1.8.
