Source: libnet-ssh-multi-ruby
Section: ruby
Priority: optional
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 7), ruby1.8, ruby1.9.1, ruby-pkg-tools
Standards-Version: 3.8.4
Homepage: http://net-ssh.rubyforge.org/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-ruby-extras/trunk/libnet-ssh-multi-ruby/
Vcs-Svn: svn://svn.debian.org/svn/pkg-ruby-extras/trunk/libnet-ssh-multi-ruby/

Package: libnet-ssh-multi-ruby
Architecture: all
Depends: libnet-ssh-multi-ruby1.8, ${misc:Depends}
Description: Ruby library for making multiple SSH connections to remote systems
 Net::SSH::Multi is a library for controlling multiple Net::SSH connections
 via a single interface. It exposes an API similar to that of
 Net::SSH::Connection::Session and Net::SSH::Connection::Channel, making it
 simpler to adapt programs designed for single connections to be used with
 multiple connections.
 .
 This library is particularly useful for automating repetitive tasks that
 must be performed on multiple machines. It executes the commands in parallel,
 and allows commands to be executed on subsets of servers (defined by groups).
 .
 Metapackage for libnet-ssh-multi-ruby1.8

Package: libnet-ssh-multi-ruby1.8
Architecture: all
Provides: libnet-ssh-multi-ruby
Depends: ruby1.8, ${misc:Depends}, libnet-ssh2-ruby1.8, libnet-ssh-gateway-ruby1.8
Description: Ruby library for making multiple SSH connections to remote systems
 Net::SSH::Multi is a library for controlling multiple Net::SSH connections
 via a single interface. It exposes an API similar to that of
 Net::SSH::Connection::Session and Net::SSH::Connection::Channel, making it
 simpler to adapt programs designed for single connections to be used with
 multiple connections.
 .
 This library is particularly useful for automating repetitive tasks that
 must be performed on multiple machines. It executes the commands in parallel,
 and allows commands to be executed on subsets of servers (defined by groups).
 .
 This package is built for Ruby 1.8.

Package: libnet-ssh-multi-ruby1.9.1
Architecture: all
Provides: libnet-ssh-multi-ruby
Depends: ruby1.9.1, ${misc:Depends}, libnet-ssh2-ruby1.9.1, libnet-ssh-gateway-ruby1.9.1
Description: Ruby library for making multiple SSH connections to remote systems
 Net::SSH::Multi is a library for controlling multiple Net::SSH connections
 via a single interface. It exposes an API similar to that of
 Net::SSH::Connection::Session and Net::SSH::Connection::Channel, making it
 simpler to adapt programs designed for single connections to be used with
 multiple connections.
 .
 This library is particularly useful for automating repetitive tasks that
 must be performed on multiple machines. It executes the commands in parallel,
 and allows commands to be executed on subsets of servers (defined by groups).
 .
 This package is built for Ruby 1.9.1.
