Source: ohai
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 7), ruby-pkg-tools (>= 0.14), quilt, graphviz
Build-Depends-Indep: ruby1.8
Standards-Version: 3.8.4
Homepage: http://github.com/opscode/ohai/tree/master

Package: ohai
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, libohai-ruby
Suggests: ohai-doc
Description: Detects data about your operating system and reports it in JSON
 Information about your system is collected and returned as multidimensional
 attributes in JSON format. The following information is captured:
   * Operating system and kernel
   * Filesystems in use
   * Network configuration and statistics
   * Available languages
   * Virtualization

Package: libohai-ruby
Architecture: all
Depends: ${misc:Depends}, ruby, libohai-ruby1.8 ( = ${source:Version} )
Suggests: ohai, ohai-doc
Description: Library to collect data about your operating system and report it in JSON
 Information about your system is collected and returned as multidimensional
 attributes in JSON format. The following information is captured:
   * Operating system and kernel
   * Filesystems in use
   * Network configuration and statistics
   * Available languages
   * Virtualization
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby ohai libraries for the default Ruby version
 (currently 1.8).

Package: libohai-ruby1.8
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8, libextlib-ruby1.8, libjson-ruby1.8, libsystemu-ruby1.8, libmixlib-config-ruby1.8, libmixlib-log-ruby1.8, libmixlib-cli-ruby1.8
Suggests: libvirt-ruby1.8, libhpricot-ruby1.8, ohai-doc
Description: Ruby 1.8 library to collect data about your operating system
 Information about your system is collected and returned as multidimensional
 attributes in JSON format. The following information is captured:
   * Operating system and kernel
   * Filesystems in use
   * Network configuration and statistics
   * Available languages
   * Virtualization
 .
 This package contains ohai libraries for Ruby 1.8.

Package: ohai-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: ruby1.8 
Description: Documentation for ohai
 Information about your system is collected and returned as multidimensional
 attributes in JSON format. The following information is captured:
   * Operating system and kernel
   * Filesystems in use
   * Network configuration and statistics
   * Available languages
   * Virtualization
 .
 This package provides generated HTML documentation for ohai.

