Source: libmixlib-config-ruby
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>, Paul van Tilburg <paulvt@debian.org>
Build-Depends: debhelper (>= 7), cdbs, ruby-pkg-tools (>= 0.14)
Build-Depends-Indep: ruby1.8, libsetup-ruby1.8
Standards-Version: 3.8.4
Homepage: http://github.com/opscode/mixlib-config/tree/master
Vcs-Svn: svn://svn.debian.org/svn/pkg-ruby-extras/trunk/libmixlib-config-ruby/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-ruby-extras/trunk/libmixlib-config-ruby/

Package: libmixlib-config-ruby
Architecture: all
Depends: libmixlib-config-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: a simple class based config mechanism for Ruby
 Mixlib-config provides a class based object to store and manipulate
 configuration values. A file can be read in to populate the object,
 and values can be set and read from the internal hash using methods.
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby mixlib-config libraries for the default Ruby version
 (currently 1.8).

Package: libmixlib-config-ruby1.8
Architecture: all
Depends: ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: a simple class based config mechanism for Ruby 1.8
 Mixlib-config provides a class based object to store and manipulate
 configuration values. A file can be read in to populate the object,
 and values can be set and read from the internal hash using methods.
 .
 This package contains mixlib-config libraries for Ruby 1.8.

