Source: chef-server-webui
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Bryan McLellan <btm@loftninjas.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.2)
Standards-Version: 3.9.2
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/chef-server-webui.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/chef-server-webui.git;a=summary
Homepage: http://wiki.opscode.com/display/chef
XS-Ruby-Versions: all

Package: chef-server-webui
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter, merb-core, libmerb-param-protection-ruby, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, thin, libopenid-ruby, libjson-ruby (>= 1.4.6), chef (>= ${source:Upstream-Version}), libcoderay-ruby, chef-server (>= ${source:Upstream-Version}), adduser, ucf
Description: A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
 A systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.
