Source: libhmac-ruby
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7), cdbs, ruby-pkg-tools (>= 0.14)
Build-Depends-Indep: ruby1.8, libsetup-ruby1.8
Standards-Version: 3.8.3
Homepage: http://ruby-hmac.rubyforge.org

Package: libhmac-ruby
Architecture: all
Depends: libhmac-ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: Ruby module to provide common interface to HMAC engines.
 This Ruby module provides common interface to HMAC functionality. HMAC is a
 kind of "Message Authentication Code" (MAC) algorithm whose standard is
 documented in RFC2104. Namely, a MAC provides a way to check the integrity
 of information transmitted over or stored in an unreliable medium, based on
 a secret key.
 .
 This package is a dependency package, which depends on the package
 containing actual Ruby ruby-hmac libraries for the default Ruby version
 (currently 1.8).

Package: libhmac-ruby1.8
Architecture: all
Depends: ruby1.8, ${shlibs:Depends}, ${misc:Depends}
Description: Ruby module to provide common interface to HMAC engines.
 This Ruby module provides common interface to HMAC functionality. HMAC is a
 kind of "Message Authentication Code" (MAC) algorithm whose standard is
 documented in RFC2104. Namely, a MAC provides a way to check the integrity
 of information transmitted over or stored in an unreliable medium, based on
 a secret key.
 .
 This package contains ruby-hmac libraries for Ruby 1.8.
