Source: libmixlib-log-ruby
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Bryan McLellan <btm@loftninjas.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/libmixlib-log-ruby.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/libmixlib-log-ruby;a=summary
Homepage: http://www.opscode.com
XS-Ruby-Versions: all

Package: libmixlib-log-ruby
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
Conflicts: ruby-mixlib-log
Description: A gem that provides a simple mixin for log functionality
 <insert long description, indented with spaces>
