#!/bin/bash
set -e

. /usr/share/debconf/confmodule

export PATH=$PATH:/sbin:/usr/sbin:/bin:/usr/bin

case "$1" in
  configure|reconfigure)
    db_input high chef/chef_server_url || true
    db_go
  ;;
  *)
    echo "config called with unknown argument \`$1'" >&2
    exit 1
  ;;
esac

db_stop 

exit 0
