Source: chef
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 7), ruby-pkg-tools (>= 0.14), quilt
Build-Depends-Indep: ruby, rake
Standards-Version: 3.8.3
Homepage: http://wiki.opscode.com/display/chef/Home

Package: chef
Architecture: all
Depends: ${misc:Depends}, ruby1.8, liberubis-ruby1.8, libjson-ruby1.8, libextlib-ruby1.8 (>= 0.9.13-1), libohai-ruby1.8, libchef-ruby1.8 (= ${source:Version}), libopenssl-ruby1.8, libmixlib-authentication-ruby1.8
Recommends: irb1.8
Suggests: rake, ohai
Description: System integration framework written in Ruby
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 Chef can be run as a client (chef-client) to a server, or run as a standalone
 tool (chef-solo). Configuration recipes are written in a pure Ruby DSL.
 .
 This package contains the chef-client and chef-solo binaries and associated 
 files.

Package: chef-solr
Architecture: all
Depends: ${misc:Depends}, ruby1.8, rabbitmq-server, default-jre-headless | java6-runtime-headless, libjson-ruby1.8, libchef-ruby1.8 (= ${source:Version}), solr-jetty, libxml-ruby1.8
Recommends: chef
Description: Manages search indexes of Chef node attributes using SOLR
 The chef indexer listens to a message queue via AMQP for changes to search
 indexes. It then either creates or deletes entries in the index according
 to the information it is passed.

Package: chef-server
Architecture: all
Depends: ${misc:Depends}, ruby, merb-slices, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, chef-server-api (= ${source:Version}), rabbitmq-server, couchdb, thin, libjson-ruby, chef-solr (= ${source:Version}), chef-solr(= ${source:Version}), libchef-ruby (= ${source:Version}), libuuidtools-ruby1.8
Recommends: chef
Suggests: nginx, apache2, rake, chef-server-webui
Description: Merb application providing centralized management for Chef
 Chef is a systems integration framework and configuration management system
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server is a Merb application that provides centralized storage and
 distribution for recipes stored in "cookbooks," management and authentication
 of client nodes and node data, and search indexes for that data.
 .
 The chef-server package provides a merb binary wrapper that loads up the
 chef-server-api application.
 .
 This package contains the chef-server Merb application and associated files.

Package: chef-server-api
Architecture: all
Depends: ${misc:Depends}, ruby, merb-slices, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, rabbitmq-server, couchdb, thin, libopenid-ruby, libjson-ruby, libchef-ruby (= ${source:Version})
Recommends: chef
Description: Merb slice providing REST API for Chef client access
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server is a Merb application that provides centralized storage and
 distribution for recipes stored in "cookbooks," management and authentication
 of client nodes and node data, and search indexes for that data.
 .
 The chef-server-api package provides the API for the Chef Server so
 clients can connect and is started with the chef-server program.
 .
 This package contains the Merb slice for the chef-server-api.

Package: chef-server-webui
Architecture: all
Depends: ${misc:Depends}, ruby, merb-slices, libmerb-param-protection-ruby, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, rabbitmq-server, couchdb, thin, libopenid-ruby, libjson-ruby, libchef-ruby ( = ${source:Version} ), libcoderay-ruby
Suggests: chef
Description: Merb app slice providing Web interface to API server for Chef
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server WebUI is a Merb application that accesses the Chef Server API
 directly to provide an easy to use interface for managing Chef clients and
 Chef server data.
 .
 This package contains the Merb slice and assets for the chef-server-webui.

Package: libchef-ruby
Architecture: all
Depends: ${misc:Depends}, ruby, libchef-ruby1.8 ( = ${source:Version} )
Suggests: chef
Description: Ruby libraries for Chef system integration framework
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 As a library, Chef allows administrators to easily tie various infrastructure
 components together.
 .
 This package is a dependency package, which depends on the package
 containing actual chef libraries for the default Ruby version
 (currently 1.8).

Package: libchef-ruby1.8
Architecture: all
Depends: ${misc:Depends}, ruby1.8, libopenssl-ruby, libmixlib-authentication-ruby1.8 (>= 1.0), libmixlib-cli-ruby, libmixlib-config-ruby (>= 1.0.12), libmixlib-log-ruby, libohai-ruby, libmoneta-ruby, libbunny-ruby, libhmac-ruby
Suggests: rake, chef
Description: Ruby 1.8 libraries for Chef system integration framework
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 As a library, Chef allows administrators to easily tie various infrastructure
 components together.
 .
 This package contains chef libraries for Ruby 1.8.
