Source: chef
Section: ruby
Priority: extra
Maintainer: Joshua Timberman <joshua@opscode.com>
Uploaders: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 7), ruby-pkg-tools (>= 0.14), quilt, po-debconf, libjavascript-minifier-xs-perl
Build-Depends-Indep: ruby, rake
Standards-Version: 3.8.4
Homepage: http://wiki.opscode.com/display/chef/Home

Package: chef
Architecture: all
Depends: ${misc:Depends}, ruby1.8, liberubis-ruby1.8, libjson-ruby1.8, libextlib-ruby1.8 (>= 0.9.13), ohai (>= 0.4.0), libchef-ruby1.8 (= ${source:Version}), libopenssl-ruby1.8, libmixlib-authentication-ruby1.8 (>= 1.1.0), ucf, libhighline-ruby1.8
Recommends: irb1.8
Description: System integration framework written in Ruby
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 Chef can be run as a client (chef-client) to a server, or run as a standalone
 tool (chef-solo). Configuration recipes are written in a pure Ruby DSL.
 .
 This package contains the chef-client and chef-solo binaries and associated
 files.

Package: chef-solr
Architecture: all
Depends: ${misc:Depends}, ruby1.8, rabbitmq-server (>= 1.6), default-jre-headless | java6-runtime-headless, libjson-ruby1.8, libchef-ruby1.8 (= ${source:Version}), solr-jetty (>=1.4.0), libxml-ruby1.8, adduser, ucf
Suggests: chef (= ${source:Version})
Replaces: chef-indexer
Conflicts: chef-indexer
Description: Manages search indexes of Chef node attributes using SOLR
 The chef indexer listens to a message queue via AMQP for changes to search
 indexes. It then either creates or deletes entries in the index according
 to the information it is passed.
 .
 This package provides the chef-solr search engine which runs as a solr-jetty
 server, and chef-solr-indexer that talks to the AMQP message queue, by
 default rabbitmq-server.

Package: chef-server
Architecture: all
Depends: ${misc:Depends}, ruby, chef-server-api (= ${source:Version}), chef-server-webui (= ${source:Version}), chef-solr (= ${source:Version})
Recommends: chef (= ${source:Version})
Suggests: nginx, apache2, rake
Description: Meta package that depends on Chef Server API and WebUI
 Chef is a systems integration framework and configuration management system
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server is a Merb application that provides centralized storage and
 distribution for recipes stored in "cookbooks," management and authentication
 of client nodes and node data, and search indexes for that data.
 .
 The chef-server package provides a merb binary wrapper that loads up the
 chef-server-api application.
 .
 This package is a meta package that depends on chef-server-api and
 chef-server-webui to provide both Server components.

Package: chef-server-api
Architecture: all
Depends: ${misc:Depends}, ruby, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, rabbitmq-server (>= 1.6), couchdb (>= 0.9.1), thin, libjson-ruby, libchef-ruby (= ${source:Version}), chef-solr (= ${source:Version}), libuuidtools-ruby1.8, adduser, ucf
Recommends: chef (= ${source:Version})
Replaces: chef-server-slice
Conflicts: chef-server-slice
Description: Merb slice providing REST API for Chef client access
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server is a Merb application that provides centralized storage and
 distribution for recipes stored in "cookbooks," management and authentication
 of client nodes and node data, and search indexes for that data.
 .
 The chef-server-api package provides the API for the Chef Server so
 clients can connect and is started with the chef-server program.
 .
 This package contains the Merb slice for the chef-server-api.

Package: chef-server-webui
Architecture: all
Depends: ${misc:Depends}, ruby, merb-slices, libmerb-param-protection-ruby, libmerb-assets-ruby, libmerb-haml-ruby, libmerb-helpers-ruby, thin, libopenid-ruby, libjson-ruby, libchef-ruby (= ${source:Version}), libcoderay-ruby, chef-server (= ${source:Version}), adduser, libjs-jquery-ui (>= 1.7.1), ucf
Suggests: chef (= ${source:Version}), apache2, nginx
Conflicts: chef-server-slice
Description: Merb app slice providing Web interface to API server for Chef
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 The Chef Server WebUI is a Merb application that accesses the Chef Server API
 directly to provide an easy to use interface for managing Chef clients and
 Chef server data.
 .
 This package contains the Merb slice and assets for the chef-server-webui.

Package: libchef-ruby
Architecture: all
Depends: ${misc:Depends}, ruby, libchef-ruby1.8 (= ${source:Version})
Description: Ruby libraries for Chef system integration framework
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 As a library, Chef allows administrators to easily tie various infrastructure
 components together.
 .
 This package is a dependency package, which depends on the package
 containing actual chef libraries for the default Ruby version
 (currently 1.8).

Package: libchef-ruby1.8
Architecture: all
Depends: ${misc:Depends}, ruby1.8, libopenssl-ruby1.8, libmixlib-authentication-ruby1.8 (>= 1.1.0), libmixlib-cli-ruby1.8 (>= 1.1.0), libmixlib-config-ruby1.8 (>= 1.1.0), libmixlib-log-ruby1.8 (>= 1.1.0), libohai-ruby1.8 (>= 0.4.0), libmoneta-ruby1.8, libbunny-ruby1.8, rubygems1.8, librestclient-ruby1.8
Recommends: ohai (>= 0.4.0), chef (= ${source:Version})
Suggests: rake, libshadow-ruby1.8
Description: Ruby 1.8 libraries for Chef system integration framework
 Chef is a systems integration framework and configuration management library
 written in Ruby. Chef provides a Ruby library and API that can be used to
 bring the benefits of configuration management to an entire infrastructure.
 .
 As a library, Chef allows administrators to easily tie various infrastructure
 components together.
 .
 This package contains chef libraries for Ruby 1.8.
