#!/usr/bin/make -f
# -*- makefile -*-
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/ruby-pkg-tools/1/class/ruby-common.mk

# setup.rb doesn't work very well with separate binary / lib
# packages, and with subproject directories, so while this
# looks like duplication of ruby-setup-rb.mk, using that
# doesn't build these packages properly.
CDBS_NO_DOC_SYMLINKING = ""

PACKAGED_RUBY_SETUP_CMD = /usr/lib/ruby/1.8/setup.rb
DEB_RUBY_SETUP_CMD = debian-setup.rb
DEB_RUBY_CONFIG_ARGS = --installdirs=std
JAVASCRIPTS = chef-server-webui/public/javascripts
MINJS = perl -0 -e 'use JavaScript::Minifier::XS qw(minify);print minify(<>);'

CHEF_INSTALL_SETUP_CMD = \
  if [ ! -L chef/$(DEB_RUBY_SETUP_CMD) ] ; then \
    if [ -f chef/$(DEB_RUBY_SETUP_CMD) ] ; then \
      mv chef/$(DEB_RUBY_SETUP_CMD) chef/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ;\
    fi ; \
    ln -s $(PACKAGED_RUBY_SETUP_CMD) chef/$(DEB_RUBY_SETUP_CMD) ; \
  fi

CHEF_REMOVE_SETUP_CMD = \
  if [ -L chef/$(DEB_RUBY_SETUP_CMD) ] ; then \
    rm chef/$(DEB_RUBY_SETUP_CMD) ; \
  fi ; \
  if [ -f chef/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build ] ; then \
    mv chef/$(DEB_RUBY_SETUP_CMD).moved_away_by_debian_build chef/$(DEB_RUBY_SETUP_CMD) ; \
  fi

install/chef::
	# init script name is different from the package:
	cp -f $(CURDIR)/chef/distro/debian/etc/init.d/chef-client $(CURDIR)/debian/chef-client.init
	cp -f $(CURDIR)/chef/distro/debian/etc/default/chef-client $(CURDIR)/debian/chef-client.default
	dh_installinit --name chef-client -- defaults 99 02
	cp -rf $(CURDIR)/debian/etc/chef/client.rb $(CURDIR)/debian/chef/usr/share/chef
	cp -rf $(CURDIR)/debian/etc/chef/solo.rb $(CURDIR)/debian/chef/usr/share/chef

install/libchef-ruby1.8::
	# straight setup.rb won't build this correctly, see comment at top.
	$(CHEF_INSTALL_SETUP_CMD)
	(cd chef && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) config $(DEB_RUBY_CONFIG_ARGS))
	(cd chef && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) setup)
	(cd chef && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) install --prefix=../debian/libchef-ruby1.8)
	mkdir -p $(CURDIR)/debian/chef/usr/bin
	mv $(CURDIR)/debian/libchef-ruby1.8/usr/bin/chef-client $(CURDIR)/debian/chef/usr/bin/
	mv $(CURDIR)/debian/libchef-ruby1.8/usr/bin/chef-solo $(CURDIR)/debian/chef/usr/bin/
	mv $(CURDIR)/debian/libchef-ruby1.8/usr/bin/knife $(CURDIR)/debian/chef/usr/bin/
	mv $(CURDIR)/debian/libchef-ruby1.8/usr/bin/shef $(CURDIR)/debian/chef/usr/bin/
	rmdir $(CURDIR)/debian/libchef-ruby1.8/usr/bin/

install/chef-solr::
	cp -f $(CURDIR)/chef/distro/debian/etc/default/chef-solr-indexer $(CURDIR)/debian/chef-solr.chef-solr-indexer.default
	cp -f $(CURDIR)/chef/distro/debian/etc/init.d/chef-solr-indexer $(CURDIR)/debian/chef-solr.chef-solr-indexer.init
	perl -pi -e "s#DAEMON=/usr/bin/chef-solr-indexer#DAEMON=/usr/sbin/chef-solr-indexer#" $(CURDIR)/debian/chef-solr.chef-solr-indexer.init
	cp -rf $(CURDIR)/debian/etc/chef/solr.rb debian/chef-solr/usr/share/chef-solr
	cp -rf $(CURDIR)/debian/etc/chef/solr-jetty debian/chef-solr/etc/chef
	cp chef-solr/bin/chef-solr-indexer debian/chef-solr/usr/sbin
	cp chef-solr/bin/chef-solr-rebuild debian/chef-solr/usr/sbin
	cp chef-solr/bin/chef-solr debian/chef-solr/usr/sbin
	cp -r chef-solr/lib debian/chef-solr/usr/share/chef-solr
	dh_installinit --name=chef-solr -- defaults 84 02
	dh_installinit --name=chef-solr-indexer -- defaults 85 02
	dh_installlogrotate --name=chef-solr-indexer

install/chef-server-api::
	cp -f $(CURDIR)/chef/distro/debian/etc/default/chef-server $(CURDIR)/debian/chef-server-api.chef-server.default
	cp -f $(CURDIR)/chef/distro/debian/etc/init.d/chef-server $(CURDIR)/debian/chef-server-api.chef-server.init
	perl -pi -e "s#DAEMON=/usr/bin/chef-server#DAEMON=/usr/sbin/chef-server#" $(CURDIR)/debian/chef-server-api.chef-server.init
	mkdir -p $(CURDIR)/debian/chef-server-api/usr/sbin
	mkdir -p $(CURDIR)/debian/chef-server-api/usr/share/chef-server-api
	mkdir -p $(CURDIR)/debian/chef-server-api/usr/share/doc/chef-server-api
	cp debian/etc/chef/server.rb  debian/chef-server-api/usr/share/chef-server-api
	cp chef-server-api/bin/chef-server debian/chef-server-api/usr/sbin
	cp chef-server-api/README.rdoc debian/chef-server-api/usr/share/doc/chef-server-api
	cp -rf chef-server-api/app    debian/chef-server-api/usr/share/chef-server-api
	cp -rf chef-server-api/config debian/chef-server-api/usr/share/chef-server-api
	cp -rf chef-server-api/public debian/chef-server-api/usr/share/chef-server-api
	cp -rf chef-server-api/lib    debian/chef-server-api/usr/share/chef-server-api
	find debian/chef-server-api -type f -perm +755 -exec chmod 644 {} \;
	dh_installinit --name=chef-server -- defaults 90 02

install/chef-server-webui::
	cp -f $(CURDIR)/chef/distro/debian/etc/default/chef-server-webui $(CURDIR)/debian/chef-server-webui.chef-server-webui.default
	cp -f $(CURDIR)/chef/distro/debian/etc/init.d/chef-server-webui $(CURDIR)/debian/chef-server-webui.chef-server-webui.init
	perl -pi -e "s#DAEMON=/usr/bin/chef-server-webui#DAEMON=/usr/sbin/chef-server-webui#" $(CURDIR)/debian/chef-server-webui.chef-server-webui.init
	mkdir -p $(CURDIR)/debian/chef-server-webui/usr/sbin
	cp debian/etc/chef/webui.rb  debian/chef-server-webui/usr/share/chef-server-webui
	cp chef-server-webui/bin/chef-server-webui debian/chef-server-webui/usr/sbin
	cp chef-server-webui/config.ru debian/chef-server-webui/usr/share/chef-server-webui
	cp chef-server-webui/README.rdoc debian/chef-server-webui/usr/share/doc/chef-server-webui
	cp -rf chef-server-webui/app    debian/chef-server-webui/usr/share/chef-server-webui
	cp -rf chef-server-webui/config debian/chef-server-webui/usr/share/chef-server-webui
	cp -rf chef-server-webui/public debian/chef-server-webui/usr/share/chef-server-webui
	cp -rf chef-server-webui/lib    debian/chef-server-webui/usr/share/chef-server-webui
	rm debian/chef-server-webui/usr/share/chef-server-webui/public/images/treeBuilderImages/Thumbs.db
	$(MINJS) $(JAVASCRIPTS)/jquery.tools.js > debian/chef-server-webui/usr/share/$(JAVASCRIPTS)/jquery.tools.min.js
	$(MINJS) $(JAVASCRIPTS)/jquery.jeditable.js > debian/chef-server-webui/usr/share/$(JAVASCRIPTS)/jquery.jeditable.mini.js
	$(MINJS) $(JAVASCRIPTS)/yetii.js > debian/chef-server-webui/usr/share/$(JAVASCRIPTS)/yetii-min.js
	find debian/chef-server-webui -type f -perm +755 -exec chmod 644 {} \;
	dh_installinit --name=chef-server-webui -- defaults 95 02

clean::
	$(CHEF_INSTALL_SETUP_CMD)
	(cd chef && /usr/bin/ruby $(DEB_RUBY_SETUP_CMD) distclean)
	$(CHEF_REMOVE_SETUP_CMD)
	rm -f chef/.config
	rm -f chef/InstalledFiles
