#!/usr/bin/make -f
#export DH_VERBOSE=1
#
# Uncomment to ignore all test failures (but the tests will run anyway)
#export DH_RUBY_IGNORE_TESTS=all
#
# Uncomment to ignore some test failures (but the tests will run anyway).
# Valid values:
#export DH_RUBY_IGNORE_TESTS=ruby1.8 ruby1.9.1 require-rubygems
#
# If you need to specify the .gemspec (eg there is more than one)
#export DH_RUBY_GEMSPEC=gem.gemspec

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_install:
	dh_auto_install
	# init script name is different from the package:
	# Uncomment and remove ./chef-client.init, ./chef-client.default for 10.18.4 (CHEF-3774)
	# cp -f $(CURDIR)/distro/debian/etc/init.d/chef-client $(CURDIR)/debian/chef-client.init
	# cp -f $(CURDIR)/distro/debian/etc/default/chef-client $(CURDIR)/debian/chef-client.default
	dh_installinit --name chef-client -- defaults 99 02
	cp -rf $(CURDIR)/debian/etc/chef/client.rb $(CURDIR)/debian/chef/usr/share/chef
	cp -rf $(CURDIR)/debian/etc/chef/solo.rb $(CURDIR)/debian/chef/usr/share/chef

