Package: chef-solr
Version: 0.10.0-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 256
Depends: debconf (>= 0.5) | debconf-2.0, ruby1.8 | ruby-interpreter, rabbitmq-server (>= 1.6), default-jre-headless | java6-runtime-headless, libjson-ruby1.8 (>= 1.4.6), chef (= 0.10.0-1), solr-jetty (>= 1.4.0), libxml-ruby1.8, adduser, ucf
Conflicts: chef-indexer
Replaces: chef-indexer
Section: ruby
Priority: optional
Homepage: http://wiki.opscode.com/display/chef
Description: Manages search indexes of Chef node attributes using SOLR
 The chef indexer listens to a message queue via AMQP for changes to search
 indexes. It then either creates or deletes entries in the index according
 to the information it is passed.
 .
 This package provides the chef-solr search engine which runs as a solr-jetty
 server, and chef-solr-indexer that talks to the AMQP message queue, by
 default rabbitmq-server.
Ruby-Versions: ruby1.8 ruby1.9.1
